<html><p>You were listening to the actor aesthetic podcast episode 151 featuring special guest ben biggers from the national tour of beautiful let's get started elementary and the late show with stephen colbert he got his musical theater from cincinnati college-conservatory of music in this episode. 
What up man it's so good to have you finally and good to meet you it's been it's been a long time coming or i guess not really but kind of. 
Yeah. 
Cool and did you know from then on you know this is what i want to do for the rest of my life or was there like hesitation. 
Oh my goodness. 
I'm the wrong person to ask because i i didn't everything like the worst way possible but i will i will let you know maybe there's someone out there. 
I do remember my college audition process remember i went to the interlochen six-week intensive and that is where it was my junior junior year summer and that's where i was first introduced to you should probably start looking at colleges or musical theater and i was like oh my gosh and for a while i was my own way and everyone. 
So i applied to a few different schools. 
I was pretty unprepared i didn't have like coaching or anything like that looking back i wish i did i wish i'd had a lot more dance training wish i had someone to work on the monologues with me there were some additions where i went in there and. 
I had like one monologue they did and they were like so where's your shakespeare and i was like what what do you mean in shakespeare i don't have i don't know what that is i was totally clueless to anyone who is going to audition for colleges i said good to get a coach who knows knows what's going on coz. 
You know at least one meeting with them till i cover like what you'll need because yeah i was going into a lot of auditions just. 
With no idea that you did the interlocken pre-college program so would you suggest that a student and that was your junior you're going to senior you're right. 
Would you recommend a student especially if they're like considering auditioning for colleges would do a college program like that i know a lot of of kids do those like with michigan and with carnegie mellon and things like that. 
I mean you do what you it's not going to hurt you no i think it'll be great especially for you to be auditioning for that school i think it's great. 
You know get to know the faculty and like kind of see what you want to so yeah i think that's a great idea wasn't even like a free college program it was really just. 
The worst don't do what i did i am so lucky that anything about over the years but there's so many people auditioning for these college programs now and it's very easy to in the way that they're more accessible than ever screens and things like that do you even remember having like that many pre-screens for your auditions. 
A college program can you know make a choice on whether or not they want to see you and you don't have to necessarily fly out to that school and auditions so it does save time and money however. 
There's something to be said about there's there's such a difference in auditioning over camera versus in person and i was going to ask you to so like you know we'll go back to before but have you seen a major shift in auditions now post-pandemic going to self tape. 
Oh yeah oh yeah and i i like i i miss i mean i still have some other since in person you know but like. 
Most of it is self taping and it is it's suction. 
It is. 
There are pros and cons because like you can watch your own edition thousand times but you can wash your own audition and be like oh i like that. 
But you can't send out you have a lot of control but there is something to be said about like going in having the nerves. 
Doing it not being able to see your stupid face and you know also like talking with the casting director in the director in like getting to show who you actually are and interact another human being instead of you know reading with my roommate for the thousandth time and he's like my lover and it's in the sneaky there's no real there will be a huge like going back i think there's going to be in person but like it's so convenient to just like on self tape vs like walking into the room you like you said it is very difficult a show that so how do you. 
How do you do that for yourself how do you make a self tape unique to you. 
You know i. 
Recently i've been taking on camera classes. 
Is like. 
Best thing ever i acuria where are you taking classes. 
Yeah yeah so how do i showcase myself. 
I don't know but i have you i have started doing something with myself tapes where i'm. 
There has been a shift in what i put out in regards to. 
I'm not trying to get inside the casting directors had be like this is what they want to see for this role so i will i will do this i am like purely concerned right now this is just where i am on my stupid little journey i i just want to put out work that i'm happy with and that is unique to me that's all i care about even if i fail spectacularly even if it's bad it's really all i care i just want to watch the tape back and think i'm i'm happy with it so if they don't like it then it's not right. 
You know for a tv show. 
Yeah it's different it's usually a smaller room that you're in here usually unlike some office building in like in like what seems to be like a custodian closet. 
I mean look i've had some bad ones i've had some bad give me like your worst. 
This was an audition for a movie. 
Did this building and it was the closet and i was like. 
I did the scene and it was probably bad and they were. 
Yeah i think it looks like five guys afterward in like this like 84 like some some nintendo ds commercial that. 
I was way too old for at the time like shouldn't have bit like i was kicking it at like 70 you know it should have been for a 10 year old and not saved nintendo ds isn't great but i remember i was so flustered because they asked me after the audition they were like i guess they just wanted it here some more from me and wanted to talk like to see if i was a normal human and i guess i failed that test because they are so what's your favorite movie and for some reason i had said i like answered the notebook and i had never seen the notebook and there. 
Oh what do you like about me and i really said i really been that moment to myself never again will i ever lie in audition. and i really said i backtracked and was like. 
Sorry never seen the notebook i don't know why i said oh my god but that's so real that's no real you're like just some weird part of you takes over and then leave and then what have been some of your leg. 
Most favorite or like weirdest side jobs things like that that you picked up along the way. 
I feel like this is just like me recounting all of my face. 
I'm a big fan. 
We'll talk about the successes to don't you worry no please keep this is way more in one cares what anyone success i worked at a place if no longer exist which is so crazy to say. 
It was called the pizzeria sirenetta on the upper west side i i works at i did like deliveries where my didn't actually like deliver the pizza i would like the middleman between the kitchen and the delivery people so i would take the orders. 
I like on the like tablets and then like package up the food to be delivered and i was so bad and i like couldn't do it fast enough i like have this thing where like i if i'm not good at something i like just crumble under the pressure i'm just sweating so like the kitchen like hated me they hated me and they would just like every time. 
So i have i can't confirm it but they they would just like look at me and just all start laughing just like this guy cook like hated me and said it was bad at my job openly so that was. 
Is that how you say that the way you put it just is so great know i asked because especially as my podcast as evolved as so many people outside of the industry especially like parents and things like that don't know necessarily what it takes to continue a career like this and so a lot of it is very unknown a lot of it is very uncertain and even if you do have you no credit. doesn't mean to say that you'll be working consistently every single months every single year and so it is always really helpful to hear where people find work outside of theater especially if you have to have a place in new york city which is sore expensive so like you know. 
Success and need a side job it's just like there's there's no shame in and i feel like there is a little bit of like a stigma of like oh well you know to this career and that's something you you know you kind of have to accept and realize that there's no shane and you know working for a living and not doing what you love. 
24/7 365. 
Talk to me about being on tour so you did beautiful for a little bit yeah like how long on beautiful we i just like. 
And this is happen to me so many times i feel like as if being as i just get like lucky with a people that i end up working. 
I've worked with so many amazing people. 
The cast was like so. 
Positive and grade. 
And everyone made like such an effort because i was joining it like. 
The tour was like had like four months left from going from first national second national so everyone has been there for a really long time and everyone no one made me feel like ostracize or loan everyone like really included me and took me in which is like just so cool like and looking back. 
I'm just so grateful because. 
I was convinced every day that i was going to be fired i was just like i am out of here like i'm just going to enjoy my time these people you know they hate me i suck. 
Boring is. 
Like the best experience especially when i was like younger. 
I mean this is like i'd start doing my lesson four years ago but it was still amazing to like see the country i never been to canada i got to go to canada. 
It's also tough because. 
You know. 
I like so like you know know where my grocery stores at know where my is an mp like you said everything and. 
When you're touring every week that changes and you have to like re-calibrate yourself. 
So that was tough. 
The changes the constant changes and you know living out of a suitcase and packing everything up and you know after wild but also you get used to it so it's it's fine also i will say that. 
Boring you a lot of times you have like the day totally free and you just show at night so if you have any like unresolved things within yourself those can rise up to the store see that happening. 
But all in all. 
During was like that always say the best things ever happened when you came back from the tour was lifelike do you come back to new york city like what was the transition back into. 
Auditions again. 
Yeah it was amazing i like i came back in new york and it was just like. 
It was honestly like perfect i was so happy i was in a relationship i was in love i was auditioning you know i was i was but i was i had money i was you know i wasn't broke i was like i'm fine coffees i'm going and and i was like this is less than a year and then covid. 
Cuz you move around so much that like when you move back to new york like that's just another spot that i'm in like i'm just going to enjoy new york this isn't where i permanently live and then you know you eventually realized. 
Hi. robert covid then so covid happens march of 2020 where were you what did you do what was your life like at that moment. 
New york. 
Things were going well i guess. 
And i got covid march 28th to ya-ya early early. 
The first you know it was like a party it was like a big it was like okay i have nothing to do i'm going to like get some bottles of wine and like hang out in my apartment and like you know it's it's all good and then. 
Makeup going. 
Yeah but yeah so covid was like a big bummer like i such a bummer but like. 
At first new york new york. 
I went home for like 2 weeks in july but other than that guy was in new york. 
And zane because like you were here as well and then i left pretty much when everything started to shut down and my family lives in new jersey so it was pretty we had a very similar experience but it was just his are like that time was it doesn't even feel like it was real anymore. 
Yeah. 
Left love that we're just taking this podcast all over the place today but i think i think that's kind of where we're at right now with the industry and just like start what i do feel as though i justin's and things like that are starting to pick up now but that probably is coming back and and it looks a little bit lighter now. 
Yeah i think so you know i've seen some like broadway shows it's it's back my voice crack. 
The industry i think if anything we've all like gained stronger inner. 
Resilience within all of ourselves we've had to like face adversity that we never knew and now we're still here and still performing. 
Alexis or literally everyone and every job everyone. 
So it is it is incredible to witness. 
Yeah my last question to you. 
If you go back this is my last question unless you have any other dying words to say to. 
17 year old 18 year old men who is. 
College starting his career in the professional theater industry what would you tell him. 
Seventeen-year-old been oh my god everything atwood. 
We have there's a seventeen-year-old eighteen-year-old right now who's in this position is you and they're listening to this thinking yes i should probably do that yes or should probably. 
Your old they're like $24.. 
You're awesome i can't believe this went by so fast but i appreciate you i'm excited to see what's on the horizon for you i think i think some really cool things are coming but. 
Yeah and hopefully we'll meet in person someday. 
</p></html>