<html><p>You're listening to the actor aesthetic podcast episode 152 8 things i wish i knew before pursuing a career in the theater industry let's get started.
Okay so you know that when you get a solo episode from yours truly we're going to get real yeah so today i've been thinking a lot about this because i've had some coaching sessions recently with students who are applying to college programs right now and i'll just think for a professional productions and broadway things in the like. 
And it has reminded me of that time for myself in my life and what it was like for me before i went to college before i started pursuing this professionally and what was it that i wish i knew. 
Before getting myself into this crazy crazy industry so i made a list and i have eight things that i wish i knew and each and every one of them are so important to me some harder to learn than others but i hope that by sharing them with you all depending on where you are in your journey you'll find some of them helpful i wish i wish i wish i had someone who told me these before i got into this so without further ado let's just get started now and no particular order. 
Number one is to submit materials to casting directors throughout college. 
Throughout your time in college this may not apply to you if you are someone who wants to take your college training so preciously and you don't necessarily want to invest your time and looking ahead you want to really focus on the present you want to focus on the now you want to focus on your training i certainly focused on my training but one thing that i figured out somewhere halfway through my time at texas state where i got my bfa musical theatre. 
Was that it was so important for me to start submitting materials to casting directors throughout my time at college here's why by doing so you start to build relationships with casting directors. 
Whether you actually meet up with them in person or not. 
So if you feel ready enough right you have a decent resume maybe you're starting your website and you have a website you have a couple of clips maybe a real that you can share with casting directors online whatever the case is if you see that casting directors are looking for someone or something that is around your type. 
And you're right for a project submit for it why not what do you have to lose obviously i would not ever ever ever condone submitting for a project that you know you're not interested in or you know you're unavailable for because at the end of the day that just waste your time and especially the creative team's time but. 
What else do you have to lose if you're available and you're willing to submit your materials mail out your headshot and resume send your your real send your websites and some clips of you performing when the time is right and when. 
Shows and productions and casting directors are looking for people there's you know there's no harm in that and in fact you're starting to create a relationship with them so that is my first and foremost number one now number 2 is very similar and its focus on maintaining relationships with agents and casting directors a good way of doing this is by keeping a spreadsheet of everyone you meet i love me a spreadsheet and if you haven't already checked it out and the actor aesthetic shop i do have one it's my audition journal spreadsheet i use it all the time and especially before the pandemic when auditions were popping off i used it every single day and i wrote down. 
Who it was that i was actually auditioning for who was in the room who was behind the table the casting director the director the creative team the music director assistant anyone who was in the room wrote their name down if i could get it. 
I would write down the contact information for the casting team if possible their email address if they left a phone number anything i could possibly find i would write it down and then that way if. 
You know an opportunity came up i had their information i was able to contact them again within reason and i was able to maintain relationships with casting directors setting them updates periodically if i booked something or i had some new headshots and you know something of note to send them right not just like hey how was your day hope you had a great day with something of notes something that would make them interested or keep them interested or put me on the forefront of their mind on the off-chance that they were passing something that i might be right for. 
Number three it's learn how to be an advocate for yourself especially. 
Especially. 
When it comes to your very first contracts. 
Does non-union summer-stock contracts and by non-union i mean so. 
The union as we've spoken about before on the podcast is the actors equity association there is now open access wear as long as you've worked at a professional theater and you have gained. 
And you've been paid for your time you're eligible to join there some other rules on that if you want to head over to the episode where i talked about that everything you need to know about actors equity open-access hi lisa just checking it out but for those of you who might be starting off your career and you choose or are given the opportunity to do a non-union contract. 
Might be one of your first contracts ever. 
But you're the one saying this is something i didn't really take advantage of because i didn't know you could do this now before you have an agent who can actually negotiate for you. 
You yourself can do that. 
You should be your own advocate. 
Because at the end of the day if you don't have an agent looking out for you no one else is going to look out for you except for yourself. 
So take back your power know your worth. 
And negotiate what you think you deserve. 
Obviously within reason you certainly have to be careful and i would advise talking with some other professional actors or mentors in your community that you trust who can help you with this but at the end of the day. have to get especially with those contracts and learned that it's completely fine to not accept the first offer okay you're allowed to negotiate. 
Number for. 
Your self-worth. 
Is not tied. 
To the job that you booked. 
And i'm going to say it again for the people in the back yourself worse. 
Is not tied. 
To the jobs that you booked. 
You are not defined by your quote-unquote 6s. 
At booking a job. 
Why is that. 
Think about it right why would that be why would you not be defined by that. 
The simple answer is that. 
This industry the theater industry in particular is so subjective. 
Sometimes it's disgustingly subjective. 
You can walk into an audition room. 
And blow the creative team away. 
And not get the job. 
Because you are not local to the theater. 
Or not get the job because the director at the time was tired and wasn't paying attention and whatever or not get the job because the role was already cast united means it's it's silly it's subjective. 
And lots of times it's not based on talent so to define your success by. 
The kinds of jobs are the amount of jobs that you booked is bogus because. 
This is not the corporate world you don't really work up a ladder the only thing you can control is your work ethic and your attitude. 
It's really hard to remember this one. 
But i wish someone told me this. 
Before i get out of school. 
For sure. 
Number 5. 
Find survival jobs or hobbies or activities outside your industry that bring you joy. 
So that your happiness is constant and is not dependent on whether or not your performance many a time on this podcast i've asked guests what their survival jobs were how they got them and why. 
And the reason why i asked this is because. 
Those conversations are not held enough because oftentimes we just focus on and actors quote-unquote 6s right of booking a job. 
But it's so important. 
To learn what it is you love to do outside of theater. 
Because at the end of the day stay at circle. 
Production contracts, and go. 
They're not constant even if you book a broadway show it could close the following day. 
So it's important that you find you love outside of theater. 
That will also support you financially. 
That way. 
You'll feel secure will be financially secure you won't be so dependent on every single audition that you walk into on booking a job you won't be desperate you won't come off with a desperation because that's the worst feeling in the world number one to feel desperate to book a job and also for the casting director on the other side of the table to feel your desperation right it's this is cringy but instead when you feel secure outside. 
When you still secure in your survival job and your relationships and your lifestyle outside of theater. 
It's going to translate and it's going to feel better and look better and honestly work better for you when you do get the opportunity to audition and when you do get the opportunity to perform number six talent alone does not get people rolls once again talent alone does not look someone a roll it just doesn't like i said the industry is very subjective and just because you are absolutely superb at what you do does not mean you're going to book broadway immediately it does not mean you're going to book a national tour immediately it doesn't mean any of that it honestly nothing is guaranteed ever if i if you learn anything from this episode of real so if we know that talent alone doesn't book rolls what does being a good person. 
Networking. 
Taking class staying on top of your skills being ready when the time comes that's what gets you the job. 
And also a little bit of luck never hurts. 
Number 7 and i'm just going to say it. 
Figure out your finances. 
And create a budget for yourself if you're moving to new york city you will not be able to sustain a lifestyle if you don't at least come with some lump sum of money. 
And you don't secure a survival job especially if you want to hit the ground running and start auditioning and you don't necessarily have a theatrical job yet to just run into you need to learn how to budget it is just as important as being good at your job it's just as important as being a good singer and dancer and actor you will not be able to sustain a life especially in a city like new york city in la if you're not good with your money the internet is incredible i love youtube for this reason i really like listening to super smart financial advisors and people in that industry who know what they're talking about and can help you especially when you're young learn how to better use and take care of your money number eight i'll of this one. 
A diverse performer is a consistently working one. 
Give or take right. 
What i mean by that is that. 
You have to learn and practice different styles. 
So you have to learn pop you have to learn film and tv you have to learn golden age musical theater and contemporary musical theater and folk and rap and r&b whatever you possibly can learn and absorb and get good at. 
The better your chances are of working more. 
So that you don't get pigeonholed into one thing sure it's it's great being really good at one thing and being known for one thing right that's also awesome because if you're really really good at one thing you might end up working a lot because people think of you automatically off the top of my head you know they go oh yes that person they're great at this let's call them in for the show right. 
It's also really important to diversify your training and your skills so that you can be more marketable in the industry. 
What if you're auditioning for a summer season of shows and you're auditioning for the entire season of shows if you could only do one style of show. 
</p></html>