<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Actor Aesthetic - About</title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Google web font
   ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>
<!-- Preloader section
================================================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>
<script type="application/javascript" src="../static/include/header.js"></script>


<!-- Header
================================================== -->
<section id="header" class="header-three">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="header-thumb">
                    <h1 class="wow fadeIn" data-wow-delay="0.3s">About</h1>
                    <h5 class="wow fadeInUp" data-wow-delay="0.6s">the founder</h5>
                    <h5 class="wow  fadeInUp" data-wow-delay=".9s">and her team!</h5>
                </div>
            </div>
		</div>
    </div>
</section>


<!-- Portfolio section
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-16 col-lg-16">
                <div class="iso-section wow fadeInUp center" data-wow-delay="1.6s">

                    <ul class="filter-wrapper clearfix">
                        <li><a href="#"  data-filter=".about" class="selected opc-main-bg" >About</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".fav">Musical Theatre</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".acting">Monologue</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".dance">Dance</a></li>
                    </ul>
               </div>

                <div class="iso-box-section wow about fadeInUp" data-wow-delay="1s">
                    <div class="iso-box-wrapper col4-iso-box">

                        <p style="margin-top:2em"></p>

                        <div class="iso-box fav col-lg-8 col-md-6">
							<a href="https://maggiebera.com/"><h1>Meet the Founder</h1></a>
							<h3>Founder Maggie Bera is an actress based in NYC with a BFA in Musical Theatre from Texas
                            State University. Regionally she appeared as Aquata, u/s Ariel in The Little Mermaid and
                            Christine Daaé u/s in Phantom at the Fireside Theatre, as Lucy Van Pelt in The World According
                            to Snoopy at Theatre Under The Stars choreographed by Adam Cates (Gentleman's Guide, Anastasia),
                            Les Miserables at Connecticut Repertory Theatre directed by Broadway legend and Tony nominated Terrence Mann,
                            and as Wendy in Peter Pan starring Riley Costello (Bye Bye Birdie, 13!, Everyday Rapture) and Terrence Mann (Les Miserables,
                            Beauty and the Beast, Pippin). Maggie has guest starred in Showtime's The Big C starring Laura Linney, and has appeared in numerous
                            commercials, print and radio ads. Maggie is a proud member of AEA and SAG-AFTRA.</h3>
                        </div>

                        <div class="iso-box fav col-md-4 col-md-3" style="margin-top: 35px">
                           <div class="portfolio-thumb">
                                <a href="https://maggiebera.com/">
									<img src="../static/image/maggie.jpg" class="img-responsive" alt="good stuff"></a>
                            </div>
                        </div>

                        <p style="margin-top:3em"></p>

                        <div class="iso-box-section iso-box about center">
                            <h1>About Actor Aesthetic</h1>
                        </div>

						<div class="iso-box about col-md-2 col-md-3">
                           <div class="portfolio-thumb">
                                <img src="../static/image/AA.png" class="img-responsive" alt="good stuff">
                            </div>
                        </div>

                       <div class="iso-box about col-lg-10 col-md-6">
						   <blockquote>In 2017, Maggie created Actor Aesthetic - a blog, podcast, and online learning community - to continue educating
							  artists pursuing a career in the theatre industry. She currently has four online courses available,
							  including The Essential Guide to Instagram for Actors, Build Your Audition Book, How To Successfully Submit
							  To Casting Directors (Without An Agent Or Manager), and The
							  Ultimate Guide To Preparing For Musical Theatre College Auditions (In 5 Steps!).
						   </blockquote>
					   </div>

						<div class="iso-box center about">
							<blockquote> In early 2020, she wrote her first e-Book, Marketing 101
					   		For Actors: An Actor’s Guide To Successful Branding, and has since taught her workshop, An Actor’s Online Presence, to college programs in
					   		the United States. Her work has been featured on Broadway World, Backstage, Playbill, Medium, The Broadway Collective, and more!</blockquote>
					  	</div>

                        <p style="margin-top:3em"></p>

                        <div class="iso-box-section iso-box about center">
                            <h3>Additional Hype</h3>
                        </div>

						<div class="iso-box about col-sm-3">
							<div class="portfolio-thumb">
								<img src="../static/image/babes.png" alt="babes">

								<div class="portfolio-overlay">
									<div class="portfolio-item">
										<a href="https://www.babeswhohustle.com/home/babes/mbera"><p>Maggie was recently featured on the popular platform, Babes Who Hustle.
											Read more about the work she’s created since the pandemic began.</p></a>
									</div>
								</div>
							</div>
							<h1>Babes Who Hustle</h1>
						</div>

						<div class="iso-box about col-sm-3">
							<div class="portfolio-thumb">
								<img src="../static/image/broadwayworld.jpg" alt="babes">
								<div class="portfolio-overlay">
									<div class="portfolio-item">
										<a href="https://www.broadwayworld.com/cincinnati/article/BWW-Interview-Maggie-Bera-of-ACTOR-AESTHETIC-Talks-Building-Community-in-the-Arts-and-Growing-in-Your-Craft-During-COVID-19-Pandemic-20200818?fbclid=IwAR2qgyAlnY9Qt9X7r2K-wUusKNXFSFHjAVCpUqzyLkXgTP2iE91IoOkfncQ">
										<p>Read the latest Broadway World feature on Actor Aesthetic founder, Maggie Bera,
											written by Anne Simendinger.</p></a>
									</div>
								</div>
							</div>
							<h1>Broadway World</h1>
					  	</div>

                       <div class="iso-box about col-sm-3">
						   <div class="portfolio-thumb">
								<img src="../static/image/pbs.png" alt="babes">
								<div class="portfolio-overlay">
									<div class="portfolio-item">
										<a href="https://www.pbs.org/american-portrait/story/17807/maggie-b-parlin-nj-my-life-right-now/">
											<p>Recently featured in a video on PBS: American Portrait,
												hear maggie talk about how she’s coping in quarantine and making the best use of her time .</p></a>
									</div>
								</div>
						   </div>
						   <h1>PBS American Portrait</h1>
					  </div>

					  <div class="iso-box about col-sm-3">
						  <div class="portfolio-thumb">
							  <img src="../static/image/backstage.jpg" alt="babes">
								<div class="portfolio-overlay">
									<div class="portfolio-item">
						  				<a href="https://www.backstage.com/magazine/author/maggie-bera/"><p>Maggie regularly writes as an
											Expert Contributor for Backstage Magazine. </p></a>
									</div>
								</div>
						  </div>
						  <h1>Backstage</h1>
					  </div>

						<p style="margin-top:3em"></p>

						<div class="iso-box-section iso-box fav center">
							<a href="https://maggiebera.com/"><h2>Musical Theatre</h2></a>
						</div>

                        <div class="iso-box fav col-lg-8">
							<h3>Maggie holds BFA in Musical Theatre from Texas State University and a background in professional
								theatre spanning over 15 years! As an actress, she’s performed off-Broadway and regionally at The Fireside
								Theater, Theatre Under The Stars, Connecticut Repertory Theatre, and The Count Basie Theatre. On TV, she guest
								starred in Showtime's The Big C starring Laura Linney, and appeared in numerous commercials, print and radio ads.
								She is a proud member of Actors’ Equity, the Screen Actors Guild, and currently represented by Professional Artists
								Agency in NYC..</h3>
							<img style="margin:10px; width: 15em" src="../static/image/maggie1">
							<img style="margin:10px; width: 15em" src="../static/image/maggie2">
							<img style="margin:10px; width: 15em" src="../static/image/maggie4">
                        </div>

						<div class="iso-box fav col-md-4">
                          <blockquote style="font-size: medium"> In 2017 Maggie created Actor Aesthetic - a blog, podcast, and online learning community - to continue educating
							  artists pursuing a career in the theatre industry. She currently has four online courses available, including The
							  Essential Guide to Instagram for Actors, Build Your Audition Book, How To Successfully Submit To Casting Directors
							  (Without An Agent Or Manager), and The Ultimate Guide To Preparing For Musical Theatre College Auditions (In 5 Steps!).
							  In early 2020, she wrote her first e-Book, Marketing 101 For Actors: An Actor’s Guide To Successful Branding, and has since
							  taught her workshop, An Actor’s Online Presence, to college programs in the United States.</blockquote>
                        </div>

						<div class="iso-box fav">
							<h3>For 7+ years, Maggie has been hosting one-on-one coaching sessions to give actors all the tools they need to:</h3>
							<ul>
								<li>Build your musical theatre audition book</li>
								<li>Analyze the text and personally connect to your material</li>
								<li>Massively improve your audition techniques</li>
								<li>Define your brand as an actor</li>
								<li>Successfully prep for auditions and book that job!</li>
							</ul>
							<button class="btn btn-lg" style="margin-top: 30px">Book Your Session Now</button>
						</div>

						<p style="margin-top:3em"></p>

						<div class="iso-box-section iso-box acting center">
							<a href=""><h2>Monologue</h2></a>
						</div>

                        <div class="iso-box acting col-lg-8">
							<h3>Jennifer Apple is a multi-hyphenated artist who hails from NYC and is a huge fan of new work & truthful storytelling.
								She currently plays the role of Anna in The Band's Visit tour and has performed at regional theaters like Chautauqua
								Theater Company, ACT, Goodspeed Musicals, and Pennsylvania Shakespeare Festival. She has appeared on TV in "New Amsterdam"
								and holds an MFA in Acting from The American Conservatory Theater. Jennifer is also an acting coach specializing in: BFA/MFA
								auditions; finding new monologues specifically for you; acting the song/monologue coaching; Shakespeare & scene study. Feel
								free to check out more on her website at www.JenniferApple.net or follow along her personal journey on IG @JenniferApple_</h3>
							<img style="margin:10px; width: fit-content" src="../static/image/bandsvisit.jpeg">
                        </div>

						<div class="iso-box acting col-md-4">
							<img style="margin:10px; width: 15em" src="../static/image/jennifer.jpg">
							<img style="margin:15px; width: 15em" src="../static/image/jennifer4.png">
                        </div>

						<div class="iso-box acting">
							<h3 style="padding: 5px">Monologue Coaching</h3>
							<h5 style="font-size: large; margin: 5px">Do you have a monologue you’ve just begun to work on,
								a piece for an upcoming audition, or perhaps an old monologue that needs some new life?
								Then let's make it happen! Whether it be through a contemporary, classical, or Shakespeare
								piece, Jennifer will help you:</h5>
							<ul style="float: left; text-align: left">
								<li>Break down the text (with her signature Punctuation Map & WWWWH!)</li>
								<li>Learn the fundamentals of approaching material </li>
								<li>Teach you tricks for personalizing the piece to make it yours (with some wonderful Dropping In!)</li>
								<li>Shortcuts on memorization</li>
								<li>Bring out ways to make your piece stand out through truthfulness and honesty </li>
								<li>Embrace the storyteller in YOU!</li>
							</ul>
							<button class="btn btn-lg" style="margin-top: 70px">Book Now!</button>
						</div>

						<div class="iso-box acting">
							<h3 padding="margin:5px">Monologue Sourcing </h3>
							<h5 style="font-size: large; padding: 5px">Knowing the audition circuit, putting material on tape, and having gone through the BFA & MFA
								audition process (successfully!),  Jennifer definitely understands that the search for finding the “Perfect Monologue”
								is absolutely exhausting. Well, that search ends now! Jennifer will find 8+ pieces specifically picked for YOU! </h5>
							<h5>In this package you will:</h5>
							<ul style="float: left; text-align: left">
								<li>Have an in depth conversation about what makes you tick, what you love, what interests you etc. you as a human. Ie: What makes you, YOU!</li>
								<li>Jennifer will go off and find 8+ monologues specifically chosen for you & your needs</li>
								<li>You reunite to read & rank the pieces</li>
								<li>They are all yours for the keeping and to do with as you choose!</li>
							</ul>
							<button class="btn btn-lg" style="margin-top: 20px">Book Now!</button>
						</div>


						<div class="iso-box-section iso-box dance center">
							<a href=""><h2>Dance</h2></a>
						</div>

                        <div class="iso-box dance col-lg-8">
							<h3> Liliana’s dance credits include: The Rockette Summer Experience (MSG Varsity), Let Freedom Ring with
								George Lopez (CBS), and Norwegian Cruise Line. Theatrically, she’s performed off-Broadway in Nickel
								Mines at the New York Musical Theatre Festival, regionally in La Cage Aux Folles at the Red House
								Arts Center, and in numerous productions at Texas State (including Legally Blonde and A Chorus Line,
								which each have over 1 MILLION views on YouTube!). She holds a BFA in Musical Theatre from Texas State
								University. Proud member of SAG-AFTRA.</h3>

							<blockquote style="font-size: medium"> Aside from performing, Liliana is passionate about both fitness and
							  baking. She is a barre-workout fanatic and swears that her best days are those when she has the chance
							  to pulse until her muscles shake! Creating and sharing baked goods is Liliana's way of spreading love.
							  Every time a birthday or a holiday rolls around, you can count on her to have a sweet treat ready to
							  bring smiles to people's faces. </blockquote>

							<img style="margin:5px; width: 25em" src="../static/image/liliana2">
							<img style="margin:5px; width: 25em" src="../static/image/liliana3">

							<div class="iso-box-section center dance">
								<button class="btn btn-lg" style="margin-top: 30px">Book Now!</button>
							</div>
						</div>

						<div class="iso-box dance col-lg-4">
							<img style="margin:5px; width: 1000px" src="../static/image/liliana1">
						</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer section
================================================== -->
<footer>
<script type="application/javascript" src="../static/include/footer.js"></script>
</footer>


<!-- Javascript
================================================== -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/isotope.js"></script>
<script src="../static/js/imagesloaded.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../AAserver.py"></script>

</body>
</html>
