<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Podcast</title>

		<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Google web font
   ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>
<!-- Preloader section
================================================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<header>
<script type="application/javascript" src="../static/include/header.js"></script>
</header>


{% for row in podata %}
{% if id == row[0] %}
<!-- Header section
================================================== -->
<section id="header" class="header-two">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
              <div class="header-thumb">
                  <h1 class="wow fadeIn" data-wow-delay="0.6s">{{row[0]}}</h1>
				  <div class="post-format">
					  <span><i class="fa fa-microphone"></i>
						  <a>{{row[5]}}</a></span>
				  </div>
              </div>
			</div>
		</div>
	</div>
</section>

<!-- Single Post section
================================================== -->
<section id="single-project">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp" data-wow-delay="1s.3s">
                <div class="blog-thumb">
                    <span><i class="fa fa-calendar"></i>{{row[6]}}</span>
                    <pre>
                      <iframe title="" allowtransparency="true" height="150" width="100%" style="border: none; min-width: min(100%, 430px);" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?i={{row[4]}}-pb&from=embed&square=1&share=1&download=1&skin=f6f6f6&btn-skin=8bbb4e&size=300" allowfullscreen=""></iframe>
                      <img src="../static/image/{{row[2]}}" alt="PODCAST!">
						  {{row[3]}}
                    </pre>
                </div>
            </div>
        </div>

       <div style="float: right;">
           <form id='textButton' method="POST" action="/transcript">
                    <button name="textButton" class="btn btn-default" value="{{row[7]}}"  form="textButton">Full Text</button>
           </form>

            <a href="/podcast">
                <h3 class="ion-ios-arrow-back">go back</h3>
            </a>
       </div>

   </div>
</section>
{%endif%}
{%endfor%}

<!-- Footer section
================================================== -->
<footer>
   <script type="application/javascript" src="../static/include/footer.js"></script>
</footer>




<!-- Javascript
================================================== -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../AAserver.py"></script>
<script src="../voicetext.py"></script>
</body>
</html>